

<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <h8><li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li></h8>
            <h8><li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Customer</a></li></h8>
            <h8><li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Groomer</a></li></h8>
            <h8><li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Dog</a></li></h8>
            <h8><li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Appoitment</a></li></h8>
            <h8><li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Checkout</a></li></h8>
        </ul>
        <h8><p class="text-center text-body-secondary">&copy; 2024 Justina's, Inc</p></h8>
    </footer>
</div>

@code {

}
