@inherits LayoutComponentBase

<PageTitle>JustinaDogGroomingAp[p</PageTitle>

<div class="page">
    <main class="mainContainer">
        <article class="content px-4">
           @*  <div> <LoginDisplay /></div> *@
            <NavMenu/>
            @Body
          @*   <FooterMenu /> *@
        </article>
        <FooterMenu />
    </main>
   
</div>