
@inject NavigationManager NavigationManager

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Authorization Required</h3>
            <p class="card-text">You are not authorized to access this resource.</p>
            <button class="btn btn-primary btn-hover" @onclick="ClosePage">Close</button>
        </div>
    </div>
</div>

@code {
    private void ClosePage()
    {
        NavigationManager.NavigateTo("/");
    }
}

