.dogStack[b-ydzrngxoh2] {
    width: 10%;
}

h5[b-ydzrngxoh2], h6[b-ydzrngxoh2], h4[b-ydzrngxoh2] {
    color: darkgray;
}

.rz-my-12[b-ydzrngxoh2] {
    display: flex;
}

.dogCard:hover[b-ydzrngxoh2] {
    /* Add your hover styles here */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: orangered;
}
