.dogStack {
    width: 10%;
}

h5, h6, h4 {
    color: darkgray;
}

.rz-my-12 {
    display: flex;
}

.dogCard:hover {
    /* Add your hover styles here */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: orangered;
}

.customer-name {
    /*color: #bb7b3e;*/
    color: #ffffff;
}

.customer-details > li {
    font-size: 0.7rem;
    /*color: #bb7b3e;*/
    color: #ffffff;
}

.page-header {
    padding: 0 12rem;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.page-header > h1 {
    display: flex;
    justify-content: center;
}

.customer-btn {
    font-size: 1rem;
}

    .customer-btn:first-child {
        margin-right: 0.4rem;
    }

/*.customer-details > li {
    color: #333;
}*/

/*pagination centred*/

.paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}